.thumbnale{
  height: 300px;
}

.caption {
  align: center;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


.bgimage {
  background-image: url(../images/strategic_alliances.jpg);
  background-position: center center;
  background-size: cover;
  height: 100px;
}

#bckgr-img-link {
    display:block;
    height:100%;
    width:100%;
    text-indent:-9999px;
}

.menu-right{
  text-align: right;
}

footer {
  color: lightgrey;
}

blockquote.linkquote {
  border-left: 5px solid #A41034;
}

blockquote.linkquote em {
  color: #A41034
}

.nowrap {
  overflow: hidden;
  white-space: nowrap;
  color: red;
}

.flash_message {
    width:100%;
    text-align:center;
    padding:5px;
    position:fixed;
    top:0;
    left:0;
    background-color:#00cc00;
    font-weight:bold;
}

.flash_message_red {
    width:100%;
    text-align:center;
    padding:5px;
    position:fixed;
    top:0;
    left:0;
    background-color:#ff6666;
    font-weight:bold;
}
