.bgimage {
  background-image: url(../images/strategic_alliances.jpg);
  background-position: center center;
  background-size: cover;
  height: 100px;
}


footer {
  color: lightgrey;
}

blockquote.linkquote {
  border-left: 5px solid #DC143C;
}

blockquote.linkquote em {
  color: #DC143C
}

.nowrap {
  overflow: hidden;
  white-space: nowrap;
  color: red;
}
